<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/app.css" />
  </head>
  <body>
    <h1>Streamer Overlay System</h1>
    <ul>
      <li><a href="/owner/login">Owner Login</a></li>
      <li><a href="/admin">Streamer Dashboard (requires login)</a></li>
    </ul>
  </body>
</html>
